// Dark card container
.dark-card {
    background-color: #1E1828;
    border-style: solid;
    border-color: #2D263E;
    border-width: 3px;
    height: 100% !important;
}

// Card icon position and shape
.card-icon {
    margin-top: -65px;
    background-color: #1E1828;
    padding: 20px;
    width: 100px;
}

.card-image {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

// Turn card colored on hover
.hoverable-grayscaled-card {
    filter: grayscale(100%);
    &:hover {
        filter: grayscale(0%);
        transition: 300ms;
    }
}
