// Dark card container
.dark-card {
    background-color: #1E1828;
    border-style: solid;
    border-color: #2D263E;
    border-width: 3px;
    height: 100% !important;
}

.dark-card-no-top-border {
    background-color: #1E1828;
    border-left-style: solid;
    border-left-color: #2D263E;
    border-left-width: 3px;
    border-right-style: solid;
    border-right-color: #2D263E;
    border-right-width: 3px;
    height: 100% !important;
}

// Card icon position and shape
.card-icon {
    margin-top: -65px;
    background-color: #1E1828;
    padding: 20px;
    max-width: 100px;
}

.card-image {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

@media only screen and (max-width: 960px){
    .card-description {
        display: none;
    }

    .card-icon {
        margin-top: -3rem;
        background-color: #1E1828;
        padding: 1.2rem;
        width: 15rem;
    }
}

// Turn card colored on hover
.hoverable-grayscaled-card {
    filter: grayscale(100%);
    &:hover {
        filter: grayscale(0%);
        transition: 300ms;
    }
}
