<headfooter>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%=stylesheet_link_tag "stylehome.css" %>
    <title>What Should I Pick</title>
</headfooter>
</bodyfooter>
    <div class="main-content">
    </div>

    <!-- footer -->
    <div class="footer">
        <div class="footer-content">
            <div class="footer-section about">
                <h4>O que é o projeto?</h4>
                <a>O What Should I Pick é um projeto de cunho acadêmico realizado na disciplina Desenvolvimento de Software da Universidade de Brasília. O objetivo da aplicação é auxiliar jogadores do vídeo-game League Of Legends a escolherem o seu campeão (personagem dentro do jogo) de forma ótima. Isto é, levando em consideração os papeis que o jogador deseja exercer nas partidas do jogo e as estatísticas compiladas sobre cada campeão, a saber: taxa de vitória, taxa de escolha, etc...</a>
            </div>
            <div class="footer-section contact">
                <ul style="list-style-type:none;">
                    <li><h6>Contribuintes</h6></li>
                    <li><a href="https://github.com/CaioHabibe">Caio Habibe</a></li>
                    <li><a href="https://github.com/EliasOliver21">Elias Oliveira</a></li>
                    <li><a href="https://github.com/GabrielCastelo-31">Gabriel Castelo</a></li>
                    <li><a href="https://github.com/IderlanJ">Iderlan Junio</a></li>
                    <li><a href="https://github.com/pedroeverton217">Pedro Everton</a></li>
                    <li><a href="https://github.com/VictorGCOSTA">Victor Costa</a></li>
                    <li><a href="https://github.com/VictorJorgeFGA">Victor Jorge</a></li>
                </ul>
            </div>
        </div>

        <div class="footer-bottom">
            What Should I Pick isn't endorsed or sponsored by Riot Games and doesn't reflect the views or opinions of Riot Games or anyone officially involved in producing or managing League of Legends. League of Legends and Riot Games are trademarks or registered trademarks of Riot Games, Inc. League of Legends © Riot Games, Inc.
        </div>
    </div>
    <!-- // footer -->

</bodyfooter>
