<headfooter>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%=stylesheet_link_tag "stylehome.css" %>
    <title>What Should I Pick</title>
</headfooter>
</bodyfooter>
    <div class="main-content">
    </div>

    <!-- footer -->
    <div class="footer">
        <div class="footer-content">
            <div class="footer-section about">
                <h4><%= t('footer.what') %></h4>
                <a><%= t('footer.about') %></a>
            </div>
            <div class="footer-section contact">
                <ul style="list-style-type:none;">
                    <li><h6><%= t('footer.creators') %></h6></li>
                    <li><a href="https://github.com/CaioHabibe">Caio Habibe</a></li>
                    <li><a href="https://github.com/EliasOliver21">Elias Oliveira</a></li>
                    <li><a href="https://github.com/GabrielCastelo-31">Gabriel Castelo</a></li>
                    <li><a href="https://github.com/IderlanJ">Iderlan Junio</a></li>
                    <li><a href="https://github.com/pedroeverton217">Pedro Everton</a></li>
                    <li><a href="https://github.com/VictorGCOSTA">Victor Costa</a></li>
                    <li><a href="https://github.com/VictorJorgeFGA">Victor Jorge</a></li>
                </ul>
            </div>
        </div>

        <div class="footer-bottom">
            What Should I Pick isn't endorsed or sponsored by Riot Games and doesn't reflect the views or opinions of Riot Games or anyone officially involved in producing or managing League of Legends. League of Legends and Riot Games are trademarks or registered trademarks of Riot Games, Inc. League of Legends © Riot Games, Inc.
        </div>
    </div>
    <!-- // footer -->

</bodyfooter>
