<div class="container-sm">
  <h1>Champions</h1>
  <ul>
    <% @champions.each do |champion| %>
      <h3><%= champion.name %></h3>
      <li>
        Win Rate: <%= (champion.statistics.filtered_by(tier: 3, position: nil).last.win_rate * 100).ceil(2) %>%
      </li>
      <li>
          Pick Rate: <%= (champion.statistics.filtered_by(tier: 3, position: nil).last.pick_rate * 100).ceil(2) %>%
      </li>
    <% end %>
  </ul>
</div>