<div class="container-sm">
  <h1>Champions</h1>
  <ul>
    <% @statistics.each do |statistic| %> 
      <% champion = statistic.champion %>
      <h3><%= champion.name %></h3>
      <li>
        Win Rate: <%= (statistic.win_rate * 100).ceil(2) %>%
      </li>
      <li>
          Pick Rate: <%= (statistic.pick_rate * 100).ceil(2) %>%
      </li>
    <% end %>
  </ul>
</div>